# Klienty baz danych
qdrant-client>=1.8.0
neo4j>=5.18.0

# Frameworki LLM i RAG
langchain>=0.3.0
langchain-core>=0.3.0
langchain-text-splitters>=0.3.0
langchain-openai>=0.2.0
langchain-google-genai>=1.0.0
langchain-community>=0.3.0
langchain-huggingface

# Przetwarzanie tekstu i Embeddingi
sentence-transformers>=2.5.1
transformers>=4.38.2
torch>=2.2.1

# Ekstrakcja relacji (BERT-BiLSTM-CRF)
spacy>=3.7.4

# Narzędzia pomocnicze
pydantic>=2.7.0
python-dotenv>=1.0.1
requests>=2.31.0
ragas>=0.2.0
datasets>=2.18.0
torch>=2.4.0