# Klienty baz danych
qdrant-client==1.8.0
neo4j==5.18.0

# Frameworki LLM i RAG
langchain==0.1.12
langchain-core==0.1.33
langchain-text-splitters==0.0.1
langchain-openai==0.0.8
langchain-google-genai
langchain-community==0.0.28

# Przetwarzanie tekstu i Embeddingi
sentence-transformers==2.5.1
transformers==4.38.2
torch==2.2.1

# Ekstrakcja relacji (BERT-BiLSTM-CRF)
spacy==3.7.4

# Narzędzia pomocnicze
pydantic==2.6.3
python-dotenv==1.0.1
requests==2.31.0
